<!DOCTYPE html>
<html>
<head>
  <title>IsItReady</title>
  <%= stylesheet_link_tag    "is_it_ready/application", :media => "all" %>
  <%= javascript_include_tag "is_it_ready/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
